$headerBackground: url(../img/header_background_v2.jpg);
$fonts: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$buttonColor: #0401AC;
$buttonTextColor: #FFFFFF;
$headerTextColor: #FF5724;
$timeTextColor: #C6C8CC;
$titleArticleColor: #607D8B;
$articleTextColor: #797B7F;
$formDescriptionColor: #607E8C;
$navBorderColor: rgba(208,217,221,.9);
$sectionHeaderColor: #767676;
$articleBackground: #FFFFFF;
$horizontalLineColor: #607E8C;
$bodyColor: #EEEEEE;
$footerTextColor: #767676;