$headerBackground: url(../img/header_background_v1.jpg);
$fonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$buttonColor: #01ACAC;
$buttonTextColor: #FFFFFF;
$navBorderColor: rgba(96,126,140,.9);
$headerTextColor: #ECECEC;
$timeTextColor: #E90303;
$titleArticleColor: #1197A7;
$articleTextColor: #010F16;
$formDescriptionColor: #1B9CB3;
$sectionHeaderColor: #00060e;
$articleBackground: #efefef;
$horizontalLineColor: #607E8C;
$bodyColor: #FFFFFF;
$footerTextColor: #00060e;